body{

font-family: Arial, sans-serif;
background:#f5f5f5;
margin:0;

}

header{

background:#0057b8;
color:white;
text-align:center;
padding:30px;

}

.slogan{

color:#ff2fa4;
font-style:italic;

}

nav{

background:black;

}

nav ul{

list-style:none;
padding:10px;
margin:0;
text-align:center;

}

nav li{

display:inline;
margin:15px;

}

nav a{

color:white;
text-decoration:none;
font-weight:bold;

}

section{

background:white;
margin:20px;
padding:30px;

}

h2{

color:#0057b8;

}

.lista-recursos li{

margin:8px 0;

}

img{

width:300px;
margin-top:15px;
border-radius:5px;

}

footer{

background:black;
color:white;
text-align:center;
padding:15px;

}

footer a{

color:#ff2fa4;
text-decoration:none;

}

input, select, textarea{

width:300px;
padding:8px;
margin-top:5px;

}

button{

background:#0057b8;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;

}